.venv
python-zadania-1.ipynb
lecture_materials
python-zadania-1-zosia.ipynb
z-python-zadania-1.ipynb
.vscode
notatki.ipynb
__pycache__
requirements.in
test.py
Zofia_Jakubek_Wisielec.ipynb
test-klasy.py
